<!doctype html>
<html>
<head>
    <title>World Flags</title>
    <style>
        body {
            font-family:Arial
        }
        TABLE.flags {
            border-collapse: collapse;
        }

        TABLE.flags TR {
            height: 25px;
        }

        TABLE.flags TD {
            padding: 0;
            width: 80px;
        }
    </style>
</head>
<body>
<h1>Hello SPDY!</h1>
<p>Yeah...it is Django 1.4.5 running on Jetty 8 with SPDY-push capabilities!</p>
<table class="flags">
<tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ad_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ae_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/af_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ag_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ai_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/am_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ao_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ar_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/as_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/at_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/au_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/az_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ba_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bd_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/be_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bf_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bg_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bh_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bi_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bj_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bn_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bo_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/br_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bs_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bw_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/by_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/bz_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ca_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cat_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cc_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cd_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cf_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cg_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ch_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ci_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ck_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cl_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cm_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cn_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/co_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cr_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cu_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cv_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cy_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/cz_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/de_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/dj_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/dk_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/dm_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/do_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/dz_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ec_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ee_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/eg_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/es_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/et_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/fi_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/fj_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/fm_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/fr_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ga_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/gb_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ge_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/gg_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/gh_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/gi_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/gl_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/gm_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/gp_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/gr_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/gt_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/gy_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/hk_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/hn_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/hr_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ht_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/hu_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/id_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ie_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/il_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/im_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/in_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/iq_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/is_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/it_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ja_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/je_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/jm_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/jo_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/jp_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ke_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/kg_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/kh_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ki_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/kr_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/kw_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/kz_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/la_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/lb_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/li_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/lk_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ls_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/lt_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/lu_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/lv_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ly_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ma_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/md_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/me_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/mg_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/mk_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ml_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/mn_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/mr_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ms_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/mt_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/mu_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/mv_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/mw_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/mx_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/my_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/mz_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/na_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ne_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/nf_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ng_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ni_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/nl_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/no_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/np_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/nr_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/nu_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/nz_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/om_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/pa_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/pe_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ph_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/pk_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/pl_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/pn_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/pr_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ps_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/pt_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/py_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/qa_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ro_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/rs_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ru_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/rw_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sa_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sb_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sc_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/se_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sg_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sh_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/si_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sk_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sl_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sm_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sn_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/so_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sr_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/st_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/sv_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/td_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tg_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/th_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tj_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tk_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tl_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tm_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tn_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/to_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tp_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tr_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tt_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tv_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tw_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/tz_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ua_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ug_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/uk_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/us_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/uy_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/uz_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/vc_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ve_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/vg_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/vi_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/vn_flag.png"></td>
</tr><tr>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/vu_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/ws_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/yu_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/za_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/zm_flag.png"></td>
    <td><img width=25 height=17 src="{{ STATIC_URL }}images_sm/zw_flag.png"></td>
</tr>
</table>
</body>
</html>